{% extends "Base.html" %}
{% block contents %}
<title>Contatos</title>
<body id="background">


      <!--CONTATOS-->
    <div id="box_cont">

    <div class="contatos">

        <h1>Contatos</h1>

    </div>


        <p align="center">
        <a href="https://github.com/Nicolas734">
        <img class="github"  src="https://img.shields.io/badge/github-%23100000.svg?&style=for-the-badge&logo=github&logoColor=white&link=mailto:https://github.com/Nicolas734">
        </a>
        <a href="mailto:nichollaslimma734@gmail.com">
        <img class="gmail" src="https://img.shields.io/badge/gmail-D14836?&style=for-the-badge&logo=gmail&logoColor=white&link=mailto:nichollaslimma734@gmail.com">
        </a>
        <a href="https://www.linkedin.com/in/nicolas-lima-2a75a3220/">
        <img class="linkedin" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white&link=mailto:https://www.linkedin.com/in/nicolas-lima-2a75a3220/">
        </a>
        <a href="https://www.instagram.com/nicolas___lima___/"><img class="instagram" src="https://img.shields.io/badge/Instagram-E4405F?style=for-the-badge&logo=instagram&logoColor=white"></img></a>&nbsp;
        </p>

    </div>


</body>

{% endblock %}