
{% extends "Base.html" %}
{% block contents %}
<title>Index</title>
<body id="background">


        <!--LOGO-->

    <div id="div_logo" >
        <h1 id="logo" >Nicolas Lima</h1>
    </div>

        <!--SOBRE MIM-->

    <div id="box_1">
        <img id="img" src="/static/img/eu.jpg" alt="eu.png">
        <!--<h1 class="teste">Um Pouco Sobre Mim</h1>
        <p class="text_div">hhhh</p>-->
        <p class="text_1">Olá, me chamo Nicolas, tenho 18 anos, atualmente cursando DSM(desenvolvimento de software multiplataforma) na fatec de são josé dos campos, posssuo um grande interesse pela area de tecnologia desde novo, possuo alguns hobbies como jogar, ouvir musica, desenhar, e programar.  </p>
    </div>

    <!--CURRICULO-->

    <div id="box_2">
        <div id="div_curriculo">
            <strong><h1 id="curriculo">Curriculo</h1></strong>
            <ul id="list_curriculo">
            <li>Ensino Médio Completo.</li>
            <li>Lingua Inglesa.</li>
            <li>Lingua Japonesa.</li>
            <li>Curso de Lógica de Programação - NOVOTEC/UNIVESP.</li>
            <li>Curso de Desenvolvimento de Aplicativos e Jogos - USP.</li>
            </ul>
        </div>
    </div>


</body>

{% endblock %}