*{
    margin: 0px;
    padding-left: 0px;
}

.fundo{
    position: relative;
    background: #D3D3D3;
    border: solid;
    border-color: black;
    border-radius: 10px 10px 10px 10px;
    height: 669px;
    width: 99.5%;
}

.fundo_cinza{
    position: relative;
    background-color: rgb(255, 255, 255);;
    border: solid;
    border-color: black;
    border-radius: 10px 10px 10px 10px;
    height: 78%;
    width: 90%;
    left: 5%;
    top: 11%;
}

.box_logo{
    position: absolute;
    background-color: black;
    position: absolute;
    border: solid;
    border-color: rgb(94, 87, 87);
    border-radius: 20px 20px 20px 20px;
    height: 30%;
    width: 45%;
    top: 10%;
    left: 27%;
}

.portifolio_estudantil{
    position: absolute;
    color: white;
    left: 37.5%;
    top: 15%;
}

.traço{
    position: absolute;
    color: white;
    left: 43.5%;
    top: 22%;
}

.nome{
    position: absolute;
    color: white;
    left: 41.3%;
    top: 29%;
}


.box_link{
    position: absolute;
    background-color: black;
    position: absolute;
    border: solid;
    border-color: rgb(94, 87, 87);
    border-radius: 20px 20px 20px 20px;
    height: 40%;
    width: 60%;
    top: 48%;
    left: 20%;
}

.projetos_e_certificados{
    color: white;
    position: absolute;
    text-decoration: underline;
    font-size: 200%;
    left: 39%;
    top: 56.3%;
}

.um_pouco_sobre_mim{
    color: white;
    position: absolute;
    text-decoration: underline;
    font-size: 200%;
    left: 39%;
    top: 71.9%;
}