<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio - Inicio</title>
    <link rel="stylesheet" href="..\static\css\style_inicio.css">
    <link rel="shortcut icon" href="..\static\img\pasta.png" type="image/x-icon">

</head>
<body>
    
    <div class="fundo">

        <div class="fundo_cinza">

            <!--BOX DA LOGO-->

            <div class="box_logo"></div>
            <h1 class="portifolio_estudantil">Portifolio Estudantil</h1>
            <h1 class="traço">-------------</h1>
            <h1 class="nome">Nicolas Lima</h1>

            <!--BOX DOS LINKS-->

            <div class="box_link"></div>
                <ul>
                    <a href="Projetos.html"><li class="projetos_e_certificados">Projetos e Certificados</li></a>
                    <a href="Sobre mim.html"><li class="um_pouco_sobre_mim">Um Pouco Sobre Mim</li></a>
                </ul>

        </div>

    </div>
    
</body>
</html>