{% extends "Base.html" %}
{% block contents %}
<title>Projetos</title>
<body id="background">

  <!--PROJETOS REALIZADOS-->

<div id="box_4">
<div id="div_projetos">
<strong><h1 id="Projetos">Projetos Realizados</h1></strong>

<ul id="list_projetos">

<li>Projeto Integrador - Fatec SJC;</li>
<li>Pagina Fictícia - Desenvolvimento web - Fatec SJC;</li>
<li>Exercicio de Divs Coloridas Utilizando CSS - Fatec SJC;</li>
<li>Bot em Python para Discord.</li>

</ul>

</div>
</div>

      <!--BOT-->

<div id="box_5">
<div id="div_func_bot">
<strong><h1 id="bot">Funcionalidades do Bot</h1></strong>

<ul id="list_bot">

<li>Gerenciar servidores.</li>
<li>Aplicação de cargos de forma automatica via emotes.</li>
<li>Interação com usuario atraves de comandos.</li>
<li>Distribuição de permissões via cargos.</li>

</ul>
</div>
<img id="gif" src="../static/img/bot.gif" alt="teste">
</div>

{% endblock %}