<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio - Projetos e Curriculo</title>
    <link rel="stylesheet"  href="..\static\css\style_projetos.css">
    <link rel="shortcut icon" href="..\static\img\pasta.png" type="image/x-icon">

</head>
<body>

    <div class="fundo">

        <div class="cabecalho"></div>

        <!--NAVBAR-->

        <a href="Inicio.html"target="_self"><button class="botão_inicio" type="button">Inicio</button></a>

        <a href="Sobre mim.html"target="_self"><button class="botão_sobre_mim" type="button">Sobre Mim</button></a>

        <!--<label></label>
        <select class="botão_nav">
        <option value="Sobre Mim">Sobre Mim</option>
        <option value="Projetos">Projetos</option>
        </select>-->

        <!--CURRICULO-->

        <h1 class="curriculo">Curriculo e Certificados</h1>

        <div class="div_curriculo"></div>

        <h2 class="text_curriculo">Texto com topicos detalhando meus conhecimentos</h2>

        <div class="div_barra"></div>

        <UL>
            <li class="usp"><b>Curso de Desenvolvimento de Aplicativos e Jogos - USP</b></li>
            <li class="novotec"><b>Curso de Lógica de Programação - NOVOTEC em parceria com a UNIVESP.</b></li>
            <li class="ensino_médio"><b>Ensino Médio Completo.</b></li>
            <li class="ingles"><b>Curso de Lingua Inglesa.</b></li>
            <li class="japones"><b>Curso de Lingua Japonesa -- ainda em Progresso.</b></li>
        </UL>

        <!--PROJETOS-->

        <h1 class="projetos">Projetos Realizados ou em Progresso.</h2>

        <div class="div_projetos"></div>

        <ul>

            <a href="https://github.com/Nicolas734/Atividades-Desenvolvimento-WEB.git" target="_blank"><li class="exercicio_divs"><b>Exercicio de Divs Coloridas Utilizando CSS - armazenado no GITHUB</b></li></a>
            <a href="https://github.com/Nicolas734/Listas-Python.git" target="_blank"><li class="listas_python"><b>Listas de Exercicios de Python  - armazenado no GITHUB</b></li></a>

        </ul>

        <div class="div_projetos_imagem"></div>

        <h3 class="text_projetos_imagem">Imagem Ilustrativa</h3>

    </div>
    
</body>
</html>