<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio - Um Pouco Sobre Mim</title>
    <link rel="stylesheet" href="..\static\css\style_sobre_mim.css">
    <link rel="shortcut icon" href="..\static\img\pasta.png" type="image/x-icon">

</head>
<body>
        <div class="fundo">

            <div class="cabecalho"></div>

        <!--NAVBAR-->

        <a href="Inicio.html"target="_self"><button class="botão_inicio" type="button">Inicio</button></a>

        <a href="Projetos.html"target="_self"><button class="botão_projetos" type="button">Projetos</button></a>

            <!--<label></label>
            <select class="botão_nav">
            <option  value="Sobre Mim">Sobre Mim</option>
            <option value="Projetos">Projetos</option>
            </select>-->

        <!--ESPAÇO DE CIMA-->

            <h1 class="sobre_mim">Um Pouco Sobre Mim</h1>
            
            <div class="div_img_1"></div>

            <h2 class="text_img_div_1">imagem</h2>

            <div class="div_text_1"></div>

            <h2 class="text_div_descrição_1">um pouco sobre mim neste campo</h2>

        <!-- ESPAÇO DE BAIXO -->

            <div class="div_text_2"></div>

            <div class="div_img_2"></div>

            <h2 class="text_img_div_2">imagem</h2>

            <h2 class="text_div_descrição_2">um pouco sobre mim neste campo</h2>

        </div>
</body>
</html>